.additional-catalog__list {
  .list-reset;
  .wrapper-mobile;
  margin-bottom: 30px;
}

.additional-catalog__wrapper {
  .wrapper-mobile;
  padding: 0;
  padding-bottom: 45px;
  margin-bottom: 35px;

  background-color: @background-elements;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-catalog__condition {
  width: 160px;
  margin: 0 auto;
  padding-top: 190px;

  text-align: center;

  color: @contrast-font-color;

  .arial;
}
