.additional-catalog__list {
  .list-reset;
}

.additional-catalog__wrapper {
  width: 280px;
  padding-bottom: 45px;

  background-color: @green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-catalog__condition {
  width: 160px;
  margin: 0 auto;
  padding-top: 190px;

  text-align: center;

  color: @white;

  .arial;
}
