.additional-catalog__list {
  .ul;
}

.additional-catalog__wrapper {
  width: 280px;
  height: 289px;

  background-color: #68b738;
  background-image: url("../../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.additional-catalog__condition {
  margin: 0;

  color: #ffffff;

  .arial;
}
