.additional-item {
  border-top: solid 1px #ededed;

  &:last-child {
    border-bottom: solid 1px #ededed;
  }
}

.additional-item__title {
  margin: 13px 1px;
  margin-bottom: 14px;

  text-transform: uppercase;

  color: @additional-item-title-font-color;

  font-weight: @base-font-weight;

  .oswald(16px; 16px);
}

.additional-item__button {
  margin-bottom: 17px;
  padding: 10px 0;
}

@media (min-width: @tablet-width) {
  .additional-item {
    display: flex;
    flex-wrap: wrap;

    padding-right: 36px;
    padding-left: 37px;

    border: 1px solid @border-color;
    border-top: none;

    &:first-child {
      border-top: 1px solid @border-color;
    }
  }

  .additional-item__title {
    margin-top: 25px;
    margin-bottom: 26px;

    .oswald(20px; 20px);
  }

  .additional-item__button {
    width: 100%;
    margin-bottom: 27px;
    padding: 10px 0;

    .oswald(16px; 20px);
  }
}

@media (min-width: @desktop-width) {
  .additional-item {
    justify-content: space-between;

    width: 895px;
    padding-right: 0;
    padding-left: 0;

    border: none;
    border-bottom: 1px solid @border-color;

    &:first-child {
      border-top: 1px solid @border-color;
    }
  }

  .additional-item__button {
    width: 245px;
    margin: 15px 0;
  }
}
