.additional-item {
  border-top: solid 1px #ededed;

  &:last-child {
    border-bottom: solid 1px #ededed;
  }
}

.additional-item__title {
  margin: 10px 0;

  text-transform: uppercase;

  color: @gray--dark;

  font-weight: @base-font-weight;

  .oswald(16px; 16px);
}

.additional-item__button {
  margin-bottom: 15px;
}
