.button {
  display: block;
  text-align: center;
  padding: 11px 0;
  color: @contrast-font-color;
  background-color: @button-green;

  .link;

  &:hover,
  &:focus {
    background-color: @button-green--hover;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: @button-green--active;
  }
}
