.catalog-item {
  .wrapper-mobile;
  width: 278px;
  border: solid 1px @border-color;
  border-top: none;
  padding-bottom: 20px;

  &:first-child {
    border: solid 1px @border-color;
  }

  &:last-child {
    border-bottom: none;
  }
}

.catalog-item__container {
  display: flex;
}

.catalog-item__title {
  .oswald(16px; 20px);
  width: 81px;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 10px;

  text-transform: uppercase;

  font-weight: @base-font-weight;
}
