.catalog-item {
  margin-bottom: -1px;

  border: solid 1px #ededed;
}

.catalog-item__title {
  margin: 0;
  margin-bottom: 10px;

  text-transform: uppercase;

  font-weight: 400;

  .oswald;
}

.catalog-item__button {
  margin-bottom: 20px;
}
