.changes {
  display: flex;
  flex-wrap: wrap;
}

.changes__wrapper {
  position: relative;
  margin-bottom: 34px;
}

.changes__wrapper--weight {
  margin-right: 32px;
}

.changes__result {
  display: block;

  width: 122px;
  padding: 15px 0;

  text-align: center;
  text-transform: uppercase;

  border: solid 1px @gray--light;
  border-radius: 3px;

  font-weight: @base-font-weight;

  .oswald(24px; 24px);
}

.changes__field {
  position: absolute;
  text-align: center;
  width: 87px;

  top: 35px;
  left: 18px;

  color: @second-font-color;

  .arial(12px; 12px);
  background-color: @background-alt-color;
}

.changes__cost {
  display: flex;
  width: 187px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 34px;
  text-transform: uppercase;

  .oswald(14px; 20px);
}

.changes__label {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .changes__result {
    width: 160px;
    padding: 20px 0;
    .oswald(30px; 37px);
  }

  .changes__field {
    .arial(14px; 14px);
    width: 140px;
  }

  .changes__cost {
    flex-direction: column;
    .oswald(20px; 20px);
    width: 175px;
    text-align: right;
    margin: 0;
    margin-left: auto;
    margin-bottom: 100px;
  }
}

@media (min-width: @desktop-width) {
  .changes__wrapper {
    margin-bottom: 60px;
  }

  .changes__cost {
    justify-content: space-between;
    width: 330px;
    flex-direction: row;
    text-align: left;
    margin: 0;
  }
}
