.changes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.changes__wrapper {
  position: relative;
  margin-bottom: 34px;
  width: 44%;
}

.changes__result {
  display: block;

  padding-top: 14px;
  padding-bottom: 16px;

  text-align: center;
  text-transform: uppercase;

  border: solid 1px @gray--light;
  border-radius: 3px;

  font-weight: @base-font-weight;

  .oswald(24px; 24px);
}

.changes__field {
  position: absolute;
  text-align: center;
  margin: 0;
  width: 74%;

  top: 47px;
  left: 14%;

  color: @second-font-color;

  .arial(12px; 12px);
  background-color: @background-alt-color;
}

.changes__cost {
  display: flex;
  width: 187px;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 34px;
  text-transform: uppercase;

  .oswald(14px; 20px);
}

.changes__label {
  margin: 0;
}

@media (min-width: @tablet-width) {
  .changes__wrapper {
    width: 23%;
  }

  .changes__wrapper--weight {
    margin-right: 42px;
  }

  .changes__result {
    width: 98%;
    padding-top: 15px;
    padding-bottom: 18px;
    .oswald(30px; 37px);
  }

  .changes__field {
    .arial(14px; 14px);
    width: 86%;
    top: 64px;
    left: 6%;
    background-color: @background-color;

    &--weight {
      width: 69%;
      left: 15%;
    }
  }

  .changes__field br {
    display: none;
  }

  .changes__cost {
    flex-direction: column;
    .oswald(20px; 20px);
    width: 175px;
    text-align: right;
    margin: 0;
    margin-left: auto;
    margin-top: 11px;
    margin-bottom: 100px;
  }

  .changes__label {
    margin-bottom: 9px;
  }
}

@media (min-width: @desktop-width) {
  .changes {
    margin-bottom: 75px;
    justify-content: start;
  }

  .changes__result {
    width: 160px;
  }

  .changes__field--weight {
    width: 114px;
    left: 23px;
  }

  .changes__wrapper {
    width: 163px;
    margin-bottom: 60px;
  }

  .changes__cost {
    justify-content: space-between;
    width: 328px;
    flex-direction: row;
    text-align: left;
    margin: 0;
  }

  .changes__field {
    background-color: @background-alt-color;
  }

  .changes__label {
    margin-bottom: 0;
  }
}
