.comments-information {
  .wrapper(@mobile-width; 20px);
}

@media (min-width: @tablet-width) {
  .comments-information {
    width: 630px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }

  .comments-information__title {
    margin-bottom: 50px;
  }

  .comments-information__value {
    width: 95%;
    height: 142px;
  }
}

@media (min-width: @desktop-width) {
  .comments-information {
    width: 1220px;
  }

  .comments-information__value {
    width: 1190px;
  }
}
