.comments-information {
  position: relative;
}

.comments-information__wrap {
  .wrapper;
}

.comments-information__title {
  width: 142px;
  background-color: @background-color;
}

.comments-information__value {
  display: block;
  margin: 0 auto;
  margin-top: 1px;
  width: 251px;
  height: 123px;

  &:focus {
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .comments-information {
    width: 630px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }

  .comments-information__title {
    margin-bottom: 50px;
  }

  .comments-information__value {
    width: 95%;
    height: 142px;
  }
}

@media (min-width: @desktop-width) {
  .comments-information {
    width: 1220px;
  }

  .comments-information__value {
    width: 1190px;
  }
}
