.comments-information {
  position: relative;
}

.comments-information__wrap {
  .wrapper;
}

.comments-information__title {
  width: 142px;
  background-color: @background-color;
}

.comments-information__value {
  display: block;
  margin: 0 auto;
  margin-top: 1px;
  width: 251px;
  height: 122px;

  &:focus {
    padding-left: 15px;
  }
}

@media (min-width: @tablet-width) {
  .comments-information {
    margin-bottom: 37px;
  }

  .comments-information__wrap {
    .wrapper;
  }

  .comments-information__title {
    width: 180px;
    padding-left: 40px;
    padding-right: 39px;
    margin-bottom: 42px;
  }

  .comments-information__value {
    .wrapper-tablet-form;
    box-sizing: border-box;
    padding: 14px 20px 15px;
    height: 174px;

    &:focus {
      padding: 13px 19px 15px;
    }
  }
}

@media (min-width: @desktop-width) {
  .comments-information {
    width: 1220px;
  }

  .comments-information__value {
    width: 1190px;
  }
}
