.contacts-information {
  position: relative;
}

.contacts-information__wrap {
  .wrapper-form-title;
}

.contacts-information__title {
  width: 202px;

  background-color: @background-color;
}

.contacts-information__item {
  position: relative;

  display: flex;

  margin-bottom: 14px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts-information__wrapper {
  .wrapper;
}

.contacts-information__label {
  padding-top: 13px;
  padding-right: 12px;
}

.contacts-information__icon {
  position: absolute;
  top: 16px;
  right: 15px;

  fill: @contacts-information__icon-color;

  &--phone {
    top: 13px;
    right: 13px;
  }
}

@media (min-width: @tablet-width) {
  .contacts-information {
    margin-bottom: 37px;
  }

  .contacts-information__title {
    width: 515px;
    margin-bottom: 41px;
    padding-right: 5%;
    padding-left: 6%;
  }

  .contacts-information__wrapper {
    .wrapper-tablet-form;
  }

  .contacts-information__item {
    margin-bottom: 20px;
  }

  .contacts-information__label {
    padding-top: 15px;
    padding-right: 16px;
  }

  .contacts-information__icon {
    top: 20px;
    right: 23px;

    &--phone {
      top: 17px;
      right: 21px;
    }
  }
}

@media (min-width: @desktop-width) {
  .contacts-information {
    margin-bottom: 38px;
  }

  .contacts-information__title {
    margin-bottom: 42px;
    padding-right: 3%;
    padding-left: 3%;
  }

  .contacts-information__wrapper {
    .wrapper;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .contacts-information__item {
    width: 570px;
    margin-bottom: 0;
  }

  .contacts-information__label {
    padding-right: 18px;
  }

  .contacts-information__icon {
    right: 19px;

    &--phone {
      right: 19px;
    }
  }
}
