.cooperation {
  background-color: #ffffff;
}

.cooperation__wrapper {
  margin-bottom: 20px;
  padding-top: 25px;
}

.cooperation--inner-page {
  background-color: #f2f2f2;
}

.cooperation__invite {
  text-transform: uppercase;

  font-weight: 400;

  .oswald;
}

.cooperation__adress {
  margin: 0;

  color: #444444;

  .arial(14px; 20px);
}

.cooperation__map {
  border: none;
}
