.copyright {
  display: flex;
  justify-content: space-between;

  margin-top: 21px;
  margin-bottom: 13px;

  text-decoration: none;

  &:hover .copyright__icon,
  &:focus .copyright__icon {
    fill: @icon-color--reaction;
  }

  &:active .copyright__icon {
    opacity: 0.3;

    fill: @icon-color--reaction;
  }
}

.copyright__icon {
  fill: @svg-color;
}

.copyright__name {
  margin: 0;
  margin-top: 10px;

  text-transform: none;

  color: @second-font-color;

  .arial(16px; 16px);
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 49px;
  }

  .copyright__name {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 16px;
    margin-bottom: 47px;
  }
}
