.copyright {
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  margin-bottom: 13px;
  margin-top: 21px;

  &:hover path,
  &:focus path {
    fill: @icon-color--reaction;
  }

  &:active {
    fill: @icon-color--reaction;
    opacity: 0.3;
  }
}

.copyright__name {
  .arial(16px; 16px);
  margin: 0;
  margin-top: 10px;

  text-transform: none;

  color: @second-font-color;
}

@media (min-width: @tablet-width) {
  .copyright {
    margin: 0;
    margin-top: 13px;
    margin-bottom: 49px;
  }

  .copyright__name {
    margin-right: 15px;
  }
}

@media (min-width: @desktop-width) {
  .copyright {
    margin-top: 16px;
    margin-bottom: 47px;
  }
}
