.example {
  background-color: #f2f2f2;
}

.changes__result {
  .oswald(24px; 24px);
  font-weight: 400;
  text-transform: uppercase;
}

.changes__field {
  .arial(12px; 12px);
  margin: 0;
  color: #444444;
}

.changes__cost {
  .oswald(14px; 20px);
  text-transform: uppercase;
  margin: 0;
}

.slider__toggle {
  .oswald;
  text-transform: uppercase;
}
