.field-title {
  padding-top: 29px;
  padding-bottom: 34px;
  margin: 0;

  font-weight: @base-font-weight;
  overflow: hidden;

  .oswald(24px; 24px);

  &::before {
    position: absolute;
    content: "";
    z-index: -1;
    right: 0;
    top: 42px;
    width: 50%;
    height: 3px;
    background-color: @background-elements;
  }
}

@media (min-width: @tablet-width) {
  .field-title {
    .oswald(36px; 36px);

    &::before {
      top: 50px;
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .field-title::before {
    top: 51px;
  }
}
