.main-catalog__list {
  .list-reset;
}

@media (min-width: @tablet-width) {
  .main-catalog {
    .wrapper;
  }

  .main-catalog__list {
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }
}
