.main-information {
  .wrapper;
  margin-bottom: 23px;
}

.main-information__item {
  margin-bottom: 14px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }
}

.main-information__label {
  padding-top: 13px;
  padding-right: 16px;
}

@media (min-width: @tablet-width) {
  .main-information {
    width: 630px;
    margin: 0;
    padding: 0;
    margin-bottom: 50px;
  }

  .main-information__item {
    margin-bottom: 20px;
  }
}

@media (min-width: @desktop-width) {
  .main-information {
    margin-bottom: 0;
  }
}
