.page-header {
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page-header__logo {
  display: block;
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: 6%;
  border-bottom: 1px solid @border-color;
}

.page-header__logo[href] {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    .wrapper;
    width: @tablet-width;
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
    margin-bottom: 55px;
  }

  .page-header__logo {
    border: none;
    padding: 0;
  }

  .page-header__image {
    width: 174px;
    height: 59px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
    margin-bottom: 105px;

    &::before {
      position: absolute;
      content: "";
      width: 720px;
      height: 696px;
      top: -54px;
      right: -69px;
      background-color: @background-elements;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: -10;

      @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
        background-image: url("../img/index-background-desktop@2x.jpg");
        background-size: 720px 696px;
      }
    }

    &--inner-page {
      margin-bottom: 71px;

      &::before {
        display: none;
      }
    }
  }

  .page-header__image {
    width: 203px;
    height: 60px;
  }

  .page-header--inner-page .main-nav__link {
    color: @base-font-color;

    &--active::after {
      background-color: @main-nav__link--active-color;
    }
  }
}
