.page-header {
  width: @mobile-width;
  margin: 0 auto;
  padding: 0;
  position: relative;
}

.page-header__logo {
  display: block;
  padding-top: 13px;
  padding-bottom: 9px;
  padding-left: 20px;
  border-bottom: 1px solid @border-color;
}

.page-header__logo[href] {

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: @tablet-width) {
  .page-header {
    width: @tablet-width;
    display: flex;
    justify-content: space-between;
    margin-bottom: 67px;
  }

  .page-header__logo {
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: @desktop-width;
    display: flex;
    justify-content: space-between;
    margin-bottom: 117px;

    &--inner-page {
      margin-bottom: 84px;
    }
  }
}
