.page-header {
  .wrapper(@mobile-width; 0);
}

@media (min-width: @tablet-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    .wrapper(@tablet-width; 30px);
    margin-bottom: 70px;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    display: flex;
    justify-content: space-between;
    .wrapper(@desktop-width; 40px);
    margin-bottom: 70px;
  }
}
