.page-footer {
  background-color: @background-alt-color;
}

.page-footer__map {
  width: 100%;
  height: 362px;
  margin-bottom: 37px;

  border: none;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-position: center;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: 320px auto;
  }
}

.page-footer__container {
  background-color: @background-color;
}

.page-footer__container--inner-page {
  background-color: @background-alt-color;
}

.page-footer__wrapper {
  .wrapper;

  display: flex;
  flex-direction: column;
}

.page-footer__logo {
  display: flex;
  justify-content: center;

  margin-bottom: 31px;
}

.page-footer__logo[href] {
  &:hover {
    opacity: 0.8;
  }

  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__social {
  padding-top: 5px;
  padding-bottom: 2px;
}

@media (min-width: @tablet-width) {
  .page-footer__map {
    height: 400px;
    margin-bottom: 36px;

    background-image: url("../img/bg-map-tablet@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: 768px auto;
    }
  }

  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .page-footer__logo {
    margin: 0;
    margin-top: 21px;
    margin-right: 35px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__container {
    position: relative;

    width: 1220px;
    margin: 0 auto;
  }

  .page-footer__map {
    margin-bottom: 38px;

    background-image: url("../img/bg-map-desktop@1x.png");
    background-position: center;
    background-repeat: no-repeat;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: 1300px auto;
    }
  }

  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
  }
}
