.program-item {
  padding: 0 20px;

  background-color: @background-alt-color;
}

.program-item__title {
  position: relative;
  margin: 0;
  margin-bottom: 29px;
  padding-left: 71px;
  padding-top: 30px;

  text-transform: uppercase;

  font-weight: @base-font-weight;

  .oswald(24px; 37px);

  &::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 2px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: @background-elements;
  }

  &--weight-loss {

    &::after {
      content: "";
      position: absolute;
      top: 22px;
      left: 10px;
      width: 36px;
      height: 49px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;
    }
  }

  &--weight-gain {

    &::after {
      content: "";
      position: absolute;
      top: 36px;
      left: -7px;
      width: 67px;
      height: 28px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;
    }
  }
}

.program-item__desc {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid @divine-border-color;
}

.program-item__link {
  position: relative;
  display: block;
  width: 130px;
  padding: 18px 0;
  color: @base-font-color;
  .link;

  &:after {
    content: "";
    position: absolute;
    top: 23px;
    right: 10px;

    width: 24px;
    height: 12px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    width: 33px;
    right: 1px;
    background-image: url("../img/icon-right-arrow-verylong.svg");
  }

  &:active {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .program-item {
    padding: 50px;

    &:last-child .program-item__desc {
      width: 340px;
    }
  }

  .program-item__title {
    .oswald(36px; 37px);
    margin-left: 0;
  }

  .program-item__desc {
    width: 380px;
    border: none;
    padding: 0;
    margin-bottom: 50px;
  }

  .program-item__link {
    .oswald(20px; 20px);
  }
}

@media (min-width: @desktop-width) {
  .program-item {
    &:last-child .program-item__desc {
      width: 445px;
    }
  }

  .program-item__title {
    margin-left: 160px;
    margin-bottom: 70px;
  }

  .program-item__desc {
    width: 465px;
    margin-bottom: 30px;
  }
}
