.program-item {
  padding: 25px 0 25px;

  background-color: #f2f2f2;
}

.program-item__title {
  margin: 0;
  margin-bottom: 25px;
  padding: 0 80px 0 92px;

  text-transform: uppercase;

  font-weight: 400;

  .oswald(24px; 37px);
}

.program-item__link {
  margin: 20px 0;

  color: #111111;

  .link;

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
