.selection {
  margin-bottom: 30px;
}

.selection__desc {
  margin: 0 auto;
  width: 270px;
  padding-left: 20px;
  padding-right: 30px;
  text-align: left;
  margin-bottom: 30px;

  text-transform: uppercase;
  font-weight: @base-font-weight;

  color: @base-font-color;

  .oswald(14px; 18px);
}

.selection__area {
  margin: 0;
  padding: 0;

  border: none;
}

.selection__label {
  text-transform: uppercase;

  color: @label-color;

  .oswald(16px; 18px);
}

.selection__value {
  padding: 10px 15px;
  border: 1px solid @input-color;

  &::placeholder {
    text-transform: uppercase;

    color: @second-font-color;

    .oswald(16px; 18px);
  }
}

.selection__required {
  margin: 0;

  text-align: center;

  color: @second-font-color;

  .arial(14px; 16px);
}

.selection__button {
  .wrapper;
  padding-top: 11px;
  padding-bottom: 11px;
  margin-bottom: 20px;

  border: none;
}

@media (min-width: @tablet-width) {
  .selection {
    width: 630px;
    margin: 0 auto;
    padding: 0 40px 0 35px;
    margin-bottom: 70px;
  }

  .selection__desc {
    width: 323px;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    .oswald(20px; 30px);
    margin-top: 50px;
    margin-bottom: 60px;
  }

  .selection__label {
    .oswald(20px; 20px);
  }

  .selection__value {
    padding: 15px 15px;

    &::placeholder {
      .oswald(20px; 20px);
    }
  }

  .selection__wrapper {
    width: 630px;
    margin: 0;
    padding: 0;
    display: flex;
  }

  .selection__button {
    width: 283px;
    margin: 0;
    padding: 15px 0;
  }

  .selection__required {
    .arial(16px; 16px);
    margin-left: 60px;
    margin-top: 17px;
  }
}

@media (min-width: @desktop-width) {
  .selection {
    .wrapper;
  }

  .selection__container {
    display: flex;
    justify-content: space-between;
  }

  .selection__wrapper {
    width: 1220px;
    margin: 0;
    padding: 0;
    display: flex;
    margin-bottom: 80px;
  }

  .selection__button {
    width: 568px;
  }

  .selection__required {
    margin-left: 80px;
  }
}
