.selection__area {
  border: none;
  padding: 0;
}

.selection__label {
  color: #222222;
  text-transform: uppercase;
  .oswald;
}

.selection__value::placeholder {
  color: #444444;
  text-transform: uppercase;
  .oswald;
}

.selection__required {
  .arial(14px; 16px);
  color: #444444;
}
