.slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.slider__toggles {
  .wrapper(@mobile-width; 20px);
  display: flex;
  justify-content: center;
  order: 2;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.slider__scale {
  width: 84px;
  height: 14px;
  border-radius: 6px;
  border: solid 1px @scale-color-mobile;
  background-color: @background-color;
  margin: 2px 17px 0;
}

.slider__list {
  .wrapper(@mobile-width; 20px);
  margin-bottom: 35px;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: @background-alt-color;
  }

  .slider__toggles {
    .wrapper(@tablet-width; 30px);
    margin-top: 350px;
    margin-bottom: 70px;
  }

  .slider__toggle {
    .oswald(20px; 20px);
    padding-bottom: 7px;
    border-bottom: 1px dotted @scale-color;
  }

  .slider__scale {
    margin: 7px 20px 0;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: @scale-color;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    margin: 0;
  }

  .slider__toggles {
    padding: 0;
    margin-top: 335px;
    margin-bottom: 65px;
  }
}
