.slider {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#slide-before ~ .slider__list .slider__photo--before,
#slide-after ~ .slider__list .slider__photo--after {
  display: none;
}

#slide-before:checked ~ .slider__list .slider__photo--before,
#slide-after:checked ~ .slider__list .slider__photo--after {
  display: block;
}

#slide-before:checked ~ .slider__toggles .slider__toggle--before,
#slide-after:checked ~ .slider__toggles .slider__toggle--after {

  &::after {
    content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      border-radius: 3px;
      background-color: @background-elements;
  }
}

#slide-before:checked ~ .slider__toggles .slider__toggle--before::after {
  top: 7px;
  left: 125px;
}

#slide-after:checked ~ .slider__toggles .slider__toggle--after::after {
  top: 7px;
  right: 125px;
}

#slide-before ~ .slider__toggles .slider__toggle--before,
#slide-after ~ .slider__toggles .slider__toggle--after {

  &::after {
    content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      border-radius: 3px;
  }
}

#slide-before ~ .slider__toggles .slider__toggle--before::after {
  top: 7px;
  left: 125px;
}

#slide-after ~ .slider__toggles .slider__toggle--after::after {
  top: 7px;
  right: 125px;
}

.slider__toggles {
  .wrapper;
  position: relative;
  display: flex;
  width: 200px;
  justify-content: center;
  order: 2;
  margin-bottom: 35px;
  text-transform: uppercase;
}

.slider__toggle {
  width: 40px;
  cursor: pointer;
}

.slider__scale {
  width: 83px;
  height: 12px;
  border-radius: 6px;
  border: solid 1px @scale-border-color;
  background-color: @scale-color-mobile;
  margin: 0 16px;
  margin-top: 3px;
}

.slider__list {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
}

@media (min-width: @tablet-width) {
  .slider {
    background-color: @background-alt-color;
  }

  .slider__toggles {
    margin-top: 350px;
    margin-bottom: 70px;
  }

  .slider__toggle {
    .oswald(20px; 20px);
    padding-bottom: 7px;
    border-bottom: 1px dotted @scale-color;
  }

  .slider__scale {
    margin: 7px 20px 0;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    background-color: @scale-color;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .slider {
    margin: 0;
    width: 50%;
  }

  .slider__wrapper {
    width: auto;
    padding: 0;
    margin: 0;
  }

  .slider__toggles {
    padding: 0;
    margin-top: 335px;
    margin-bottom: 65px;
  }
}
