.social {
  margin: 0;
  padding-left: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  border-top: 1px solid @divine-border-color;
  border-bottom: 1px solid @divine-border-color;
}

.social__link {
  display: flex;
  width: 55px;
  height: 55px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;

  &:hover path,
  &:focus path,
  &:hover circle,
  &:focus circle {
    fill: @icon-color--reaction;
  }

  &:active path,
  &:active circle {
    fill: @icon-color--reaction;
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .social {
    border: none;
  }

  .social__link--fb {
    padding-right: 15px;
    padding-bottom: 4px;
  }

  .social__icon--vk {
    width: 30px;
    height: 17px;
  }

  .social__icon--inst {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }
}
