.store-description {
  height: 305px;
  background-color: #68b738;
  background-image: url("../../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  text-align: center;
  color: #ffffff;
}

.store-description__title {
  .oswald(36px; 36px);
  font-weight: 400;
}

.store-description__slogan {
  .oswald(14px; 14px);
}
