.store-description {
  text-align: center;

  color: @contrast-font-color;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  .wrapper-mobile(0);
  margin-bottom: 20px;
}

.store-description__title {
  margin-bottom: 20px;
  padding-top: 20px;

  line-height: 36px;
}

.store-description__slogan {
  margin: 0;
  margin-bottom: 170px;

  text-transform: uppercase;

  .oswald(14px; 14px);
}

.store-description__button {
  .wrapper-mobile;
}

@media (min-width: @tablet-width) {
  .store-description {
    display: flex;
    flex-direction: column;
    color: @gray--darkest;
    background-image: none;
    .wrapper-tablet;
    text-align: left;
  }

  .store-description__title {
    width: 420px;
    .oswald(60px; 60px);
    padding: 0;
    margin-bottom: 30px;
  }

  .store-description__slogan {
    .oswald(20px; 20px);
    margin-bottom: 40px;
  }

  .store-description__image {
    order: 4;
  }

  .store-description__button {
    width: 245px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .store-description {
    .wrapper-desktop;
    margin-bottom: 80px;
  }
}
