.type-of-program__list {
  .ul;
}

.program-item {
  margin-bottom: 20px;

  background-color: #f2f2f2;
}

.program-item:last-child {
  margin-bottom: 0;
}

.program-item__title {
  margin: 0;

  text-transform: uppercase;

  font-weight: 400;

  .oswald(24px; 37px);
}

.program-item__link {
  color: #111111;

  .link;
  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}
