.oswald(@font-size, @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.arial(@font-size: 14px, @line-height: 18px) {
  font-family: @second-font;
  font-size: @font-size;
  line-height: @line-height;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper-mobile(@padding-mobile: 20px) {
  width: @mobile-width - @padding-mobile*2;
  margin: 0 auto;
  padding: 0 @padding-mobile;
}

.wrapper-tablet(@padding-tablet: 30px) {
  width: @tablet-width - @padding-tablet*2;
  margin: 0 auto;
  padding: 0 @padding-tablet;
}

.wrapper-desktop(@padding-desktop: 110px) {
  width: @desktop-width - @padding-tablet*2;
  margin: 0 auto;
  padding: 0 @padding-desktop;
}
