.oswald(@font-size: 16px, @line-height: 20px) {
  font-size: @font-size;
  line-height: @line-height;
}

.arial(@font-size: 14px, @line-height: 18px) {
  font-size: @font-size;
  line-height: @line-height;
  font-weight: normal;
}
