.oswald(@font-size, @line-height) {
  font-size: @font-size;
  line-height: @line-height;
}

.arial(@font-size: 14px, @line-height: 18px) {
  font-family: @second-font;
  font-size: @font-size;
  line-height: @line-height;
}

.list-reset {
  margin: 0;
  padding: 0;

  list-style: none;
}

.link {
  text-decoration: none;
  text-transform: uppercase;
}

.wrapper {
  margin: 0 auto;

  @media (min-width: @mobile-width) {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
  }

  @media (min-width: @tablet-width) {
    width: 92%;
    padding-left: 4%;
    padding-right: 4%;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width -  40px * 2;
    padding-left: 40px;
    padding-right: 40px;
  }
}

.wrapper-tablet-form {
  width: 630px;
  margin: 0 auto;
  padding: 0 39px 0 45px;
}
