@deafult-font: "Oswald", "Arial", sans-serif;
@second-font: "Arial", sans-serif;
@base-font-size: 16px;
@base-line-height: 20px;
@base-font-weight: 400;
@bold-font-weight: 500;
@white: #ffffff;
@green: #68b738;
@green--dark: #5eaa2f;
@gray--light: #cdcdcd;
@gray--lighter: #f2f2f2;
@gray: #ebebeb;
@gray--darker: #ededed;
@gray--dark: #dcdcdc;
@gray--darkest: #444444;
@black--lighter: #222222;
@black: #111111;
@pink: #ff8282;
@base-font-color: @black;
@second-font-color: @gray--darkest;
@additional-item-title-font-color: @black--lighter;
@contrast-font-color: @white;
@background-color: @white;
@background-alt-color: @gray--lighter;
@background-elements: @green;
@button-color: @green;
@button-color--hover: @green--dark;
@button-color--active: @green--dark;
@button-alt-color: @gray--lighter;
@button-alt-color--hover: @gray;
@button-alt-color--active: @gray;
@label-color: @black--lighter;
@input-color: @gray--light;
@input-color--focus: @gray--darkest;
@input-color--error: @pink;
@radio-border: @gray--darker;
@scale-color-mobile: @white;
@scale-color: @gray--dark;
@border-color: @gray--darker;
@mobile-width: 320px;
@mobile-width-only: 767px;
@tablet-width: 768px;
@desktop-width: 1300px;
